build
bin
*~
*.o
*.a
googletest/make/sample1_unittest
doc/business_analysis/*.aux
doc/business_analysis/*.log
doc/business_analysis/*.toc
doc/business_analysis/*.gz
doc/business_analysis/*.pdf


# Eclipse stuff
.cproject
.project

# IntelliJ Idea stuff
*.iml
.idea
config_gui/out
config_gui/.idea
