build
bin
*~
*.o
*.a
googletest/make/sample1_unittest

doc/business_analysis/*.aux
doc/business_analysis/*.log
doc/business_analysis/*.toc
doc/business_analysis/*.gz
doc/business_analysis/*.pdf

doc/uml_diagrams/

logs

*.aux
*.log
*.toc
*.gz
*.pdf
*.out

CMakeLists.txt

# Eclipse stuff
.cproject
.project

# IntelliJ Idea stuff
*.iml
.idea
config_gui/out
config_gui/.idea
*.class
*.jar

core
./pattern_recognizer/test/core
